# Home task: pandas
 
### Question 1

In [1]:
import pandas as pd
import numpy as np

 - Load the energy data from the file Energy Indicators.xls.

It is a list of indicators of energy supply and renewable electricity production from the United Nations for the year 2013.

 - It should be put into a DataFrame with the variable name of "energy"

 - Make sure to exclude the footer and header information from the datafile.

In [2]:
file_name = 'Energy Indicators.xls'
energy = pd.read_excel(file_name, skiprows = 17, usecols = 'C:F', skipfooter = 38)

energy.head()

       Unnamed: 2 Petajoules Gigajoules           %
0     Afghanistan        321         10   78.669280
1         Albania        102         35  100.000000
2         Algeria       1959         51    0.551010
3  American Samoa        ...        ...    0.641026
4         Andorra          9        121   88.695650

 - The first two columns are unneccessary, so you should get rid of them, and you should change the column labels so that the columns are:

     - ['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable']

In [3]:
energy = energy.rename(columns = {'Unnamed: 2':'Country', 'Petajoules':'Energy Supply', 'Gigajoules' :'Energy Supply per Capita', '%':'% Renewable' })
energy.head()

          Country Energy Supply Energy Supply per Capita  % Renewable
0     Afghanistan           321                       10    78.669280
1         Albania           102                       35   100.000000
2         Algeria          1959                       51     0.551010
3  American Samoa           ...                      ...     0.641026
4         Andorra             9                      121    88.695650

 - Convert Energy Supply to gigajoules (there are 1,000,000 gigajoules in a petajoule).
 - For all countries which have missing data (e.g. data with ...) make sure this is reflected as np.NaN values.

In [4]:
energy.replace('...', np.nan, inplace = True)
energy.loc[:, 'Energy Supply'] *= 1_000_000

energy.head()

          Country  Energy Supply  Energy Supply per Capita  % Renewable
0     Afghanistan   3.210000e+08                      10.0    78.669280
1         Albania   1.020000e+08                      35.0   100.000000
2         Algeria   1.959000e+09                      51.0     0.551010
3  American Samoa            NaN                       NaN     0.641026
4         Andorra   9.000000e+06                     121.0    88.695650

 - There are also several countries with numbers and/or parenthesis in their name. Be sure to remove these, e.g.: 

     - Bolivia (Plurinational State of) should be Bolivia,
     - Switzerland17 should be Switzerland.

In [5]:
i = 0
while i < 226:
    tmp = energy.loc[i, 'Country']
    while ord(tmp[-1]) >= ord('0') and ord(tmp[-1]) <= ord('9'):
        tmp = tmp[:-1]
        energy.loc[i, 'Country'] = tmp
          
    tp = tmp.split()
    string = ''
    for el in tp:
        if el[0] == '(':
            energy.loc[i, 'Country'] = string
            break
        string += el + ' '
        
    i += 1

 - Rename the following list of countries (for use in later questions):

    - Republic of Korea: South Korea,
    - United States of America: United States,
    - United Kingdom of Great Britain and Northern Ireland: United Kingdom,
    - China, Hong Kong Special Administrative Region: Hong Kong

In [6]:
energy.replace('United States of America', 'United States', inplace = True)
energy.replace('United Kingdom of Great Britain and Northern Ireland', 'United Kingdom', inplace = True)
energy.replace('China, Hong Kong Special Administrative Region', 'Hong Kong', inplace = True)

 - Next, load the GDP data from the file "world_bank.csv".

In [7]:
GDP = pd.read_csv('world_bank.csv', on_bad_lines = 'skip', header = 2)
GDP.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,Unnamed: 66
0,Aruba,ABW,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,2.727933e+09,2.791061e+09,2.963128e+09,2.983799e+09,3.092179e+09,3.202235e+09,3.310056e+09,2.496648e+09,NaN,NaN
1,Africa Eastern and Southern,AFE,GDP (current US$),NY.GDP.MKTP.CD,2.129059e+10,2.180847e+10,2.370702e+10,2.821004e+10,2.611879e+10,2.968217e+10,...,9.839370e+11,1.003679e+12,9.242525e+11,8.823551e+11,1.020647e+12,9.910223e+11,9.975340e+11,9.216459e+11,1.082096e+12,NaN
2,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,5.377778e+08,5.488889e+08,5.466667e+08,7.511112e+08,8.000000e+08,1.006667e+09,...,2.014640e+10,2.049713e+10,1.913421e+10,1.811656e+10,1.875347e+10,1.805323e+10,1.879945e+10,2.011614e+10,NaN,NaN
3,Africa Western and Central,AFW,GDP (current US$),NY.GDP.MKTP.CD,1.040414e+10,1.112789e+10,1.194319e+10,1.267633e+10,1.383837e+10,1.486223e+10,...,8.207927e+11,8.649905e+11,7.607345e+11,6.905464e+11,6.837487e+11,7.416899e+11,7.945430e+11,7.844457e+11,8.358084e+11,NaN
4,Angola,AGO,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.334016e+11,1.372444e+11,8.721929e+10,4.984049e+10,6.897276e+10,7.779294e+10,6.930910e+10,5.361907e+10,7.254699e+10,NaN

 - Make sure to skip the header, and rename the following list of countries:

    - Korea, Rep.: South Korea,
    - Iran, Islamic Rep.: Iran,
    - Hong Kong SAR, China: Hong Kong

In [8]:
GDP.replace('Korea, Rep.', 'South Korea', inplace = True)
GDP.replace('Iran, Islamic Rep.', 'Iran', inplace = True)
GDP.replace('Hong Kong SAR, China', 'Hong Kong', inplace = True)

 - Finally, load the "Sciamgo Journal and Country Rank data for Energy Engineering and Power Technology". It ranks countries based on their journal contributions in the aforementioned area. Call this DataFrame "ScimEn"

In [9]:
ScimEn = pd.read_excel('scimagojr country rank 1996-2021.xlsx')

ScimEn.head()

,Rank,Country,Region,Documents,Citable documents,Citations,Self-citations,Citations per document,H index
0,1,China,Asiatic Region,303064,301778,3036531,2092737,10.02,273
1,2,United States,Northern America,184851,181106,2623922,819242,14.19,389
2,3,India,Asiatic Region,60257,58589,590570,213760,9.80,198
3,4,Japan,Asiatic Region,52780,52281,557023,132113,10.55,203
4,5,United Kingdom,Western Europe,47141,45928,748994,132737,15.89,244

Skipping the columns that have data about 1960 - 2005 and 2016 - 2021

In [10]:
GDP = GDP.drop(columns = ['Unnamed: 66'])

i = 1960
while i <= 2021:
    if i == 2006:
        i = 2016
    GDP = GDP.drop(columns = [str(i)])
    i += 1
    
GDP.head()

,Country Name,Country Code,Indicator Name,Indicator Code,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,Aruba,ABW,GDP (current US$),NY.GDP.MKTP.CD,2.469832e+09,2.677654e+09,2.843017e+09,2.553631e+09,2.453631e+09,2.637989e+09,2.615084e+09,2.727933e+09,2.791061e+09,2.963128e+09
1,Africa Eastern and Southern,AFE,GDP (current US$),NY.GDP.MKTP.CD,5.759214e+11,6.611793e+11,7.082869e+11,7.192167e+11,8.604783e+11,9.644185e+11,9.730435e+11,9.839370e+11,1.003679e+12,9.242525e+11
2,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,6.971286e+09,9.747880e+09,1.010931e+10,1.241616e+10,1.585668e+10,1.780511e+10,1.990732e+10,2.014640e+10,2.049713e+10,1.913421e+10
3,Africa Western and Central,AFW,GDP (current US$),NY.GDP.MKTP.CD,3.933052e+11,4.617914e+11,5.664808e+11,5.070436e+11,5.915958e+11,6.709830e+11,7.275704e+11,8.207927e+11,8.649905e+11,7.607345e+11
4,Angola,AGO,GDP (current US$),NY.GDP.MKTP.CD,5.238101e+10,6.526645e+10,8.853861e+10,7.030717e+10,8.169956e+10,1.094365e+11,1.249982e+11,1.334016e+11,1.372444e+11,8.721929e+10

Shorten to the first 15 lines

In [11]:
ScimEn = ScimEn.head(15)

ScimEn

,Rank,Country,Region,Documents,Citable documents,Citations,Self-citations,Citations per document,H index
0,1,China,Asiatic Region,303064,301778,3036531,2092737,10.02,273
1,2,United States,Northern America,184851,181106,2623922,819242,14.19,389
2,3,India,Asiatic Region,60257,58589,590570,213760,9.80,198
3,4,Japan,Asiatic Region,52780,52281,557023,132113,10.55,203
4,5,United Kingdom,Western Europe,47141,45928,748994,132737,15.89,244
5,6,Germany,Western Europe,42343,41464,528645,115432,12.48,211
6,7,Russian Federation,Eastern Europe,39424,39189,142937,67935,3.63,96
7,8,Canada,Northern America,35588,34940,665415,113363,18.70,246
8,9,Italy,Western Europe,31260,29959,433388,105641,13.86,177
9,10,South Korea,Asiatic Region,31200,30949,405923,74753,13.01,169
10,11,France,Western Europe,26848,26320,403834,73792,15.04,190
11,12,Iran,Middle East,25481,25204,398571,122647,15.64,159
12,13,Spain,Western Europe,24969,24505,427391,77583,17.12,187
13,14,Brazil,Latin America,23110,22762,219895,53635,9.52,139
14,15,Australia,Pacific Region,22803,22276,396186,62694,17.37,192

 - Join the three datasets: Energy, GDP, and ScimEn into a new dataset (using the intersection of country names). Use only the 10 years (2006-2015) of GDP data and only the top 15 countries by Scimagojr 'Rank' (Rank 1 through 15).

In [12]:
GDP = GDP.rename(columns = {'Country Name':'Country'})

df_merged = pd.merge(ScimEn, energy, how = 'left')
df_merged_plus = pd.merge(df_merged, GDP, how = 'left')

df_merged_plus = df_merged_plus.set_index('Country')
df_merged_plus

,Rank,Region,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per Capita,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
Country,,,,,,,,,,,,,,,,,,,,,
China,1,Asiatic Region,303064,301778,3036531,2092737,10.02,273,1.271910e+11,93.0,...,2.752132e+12,3.550343e+12,4.594307e+12,5.101703e+12,6.087164e+12,7.551500e+12,8.532230e+12,9.570406e+12,1.047568e+13,1.106155e+13
United States,2,Northern America,184851,181106,2623922,819242,14.19,389,9.083800e+10,286.0,...,1.381559e+13,1.447423e+13,1.476986e+13,1.447806e+13,1.504896e+13,1.559973e+13,1.625397e+13,1.684319e+13,1.755068e+13,1.820602e+13
India,3,Asiatic Region,60257,58589,590570,213760,9.80,198,3.319500e+10,26.0,...,9.402599e+11,1.216735e+12,1.198896e+12,1.341887e+12,1.675615e+12,1.823050e+12,1.827638e+12,1.856722e+12,2.039127e+12,2.103588e+12
Japan,4,Asiatic Region,52780,52281,557023,132113,10.55,203,1.898400e+10,149.0,...,4.601663e+12,4.579751e+12,5.106679e+12,5.289493e+12,5.759072e+12,6.233147e+12,6.272363e+12,5.212328e+12,4.896994e+12,4.444931e+12
United Kingdom,5,Western Europe,47141,45928,748994,132737,15.89,244,7.920000e+09,124.0,...,2.717060e+12,3.106182e+12,2.938882e+12,2.425798e+12,2.491110e+12,2.674891e+12,2.719158e+12,2.803291e+12,3.087166e+12,2.956574e+12
Germany,6,Western Europe,42343,41464,528645,115432,12.48,211,1.326100e+10,165.0,...,2.994704e+12,3.425578e+12,3.745264e+12,3.411261e+12,3.399668e+12,3.749315e+12,3.527143e+12,3.733805e+12,3.889093e+12,3.357586e+12
Russian Federation,7,Eastern Europe,39424,39189,142937,67935,3.63,96,3.070900e+10,214.0,...,9.899305e+11,1.299706e+12,1.660846e+12,1.222644e+12,1.524917e+12,2.045926e+12,2.208296e+12,2.292473e+12,2.059242e+12,1.363481e+12
Canada,8,Northern America,35588,34940,665415,113363,18.70,246,1.043100e+10,296.0,...,1.319265e+12,1.468820e+12,1.552990e+12,1.374625e+12,1.617343e+12,1.793327e+12,1.828366e+12,1.846597e+12,1.805750e+12,1.556509e+12
Italy,9,Western Europe,31260,29959,433388,105641,13.86,177,6.530000e+09,109.0,...,1.949552e+12,2.213102e+12,2.408655e+12,2.199929e+12,2.136100e+12,2.294994e+12,2.086958e+12,2.141924e+12,2.162010e+12,1.836638e+12
South Korea,10,Asiatic Region,31200,30949,405923,74753,13.01,169,NaN,NaN,...,1.053217e+12,1.172614e+12,1.047339e+12,9.439419e+11,1.144067e+12,1.253223e+12,1.278428e+12,1.370795e+12,1.484318e+12,1.465773e+12
France,11,Western Europe,26848,26320,403834,73792,15.04,190,1.059700e+10,166.0,...,2.320536e+12,2.660591e+12,2.930304e+12,2.700887e+12,2.645188e+12,2.865158e+12,2.683672e+12,2.811877e+12,2.855964e+12,2.439189e+12
Iran,12,Middle East,25481,25204,398571,122647,15.64,159,NaN,NaN,...,2.662989e+11,3.498816e+11,4.123362e+11,4.163970e+11,4.868076e+11,6.261331e+11,6.440355e+11,4.927756e+11,4.603828e+11,4.082129e+11
Spain,13,Western Europe,24969,24505,427391,77583,17.12,187,4.923000e+09,106.0,...,1.260399e+12,1.474003e+12,1.631863e+12,1.491473e+12,1.422108e+12,1.480710e+12,1.324744e+12,1.355143e+12,1.371223e+12,1.195600e+12
Brazil,14,Latin America,23110,22762,219895,53635,9.52,139,1.214900e+10,59.0,...,1.107627e+12,1.397114e+12,1.695855e+12,1.666996e+12,2.208838e+12,2.616157e+12,2.465228e+12,2.472819e+12,2.456044e+12,1.802212e+12
Australia,15,Pacific Region,22803,22276,396186,62694,17.37,192,5.386000e+09,231.0,...,7.475562e+11,8.539554e+11,1.055127e+12,9.280430e+11,1.147589e+12,1.397908e+12,1.546509e+12,1.576335e+12,1.467505e+12,1.350534e+12

During the task was not said about the 'Country Code', 'Indicator Name', 'Indicator Code' and 'Region' columns but they there are not in the final columns list. There I decided just to delete them

In [13]:
df_merged_plus = df_merged_plus.drop(columns = ['Country Code', 'Indicator Name', 'Indicator Code', 'Region'])

df_merged_plus

,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per Capita,% Renewable,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
Country,,,,,,,,,,,,,,,,,,,,
China,1,303064,301778,3036531,2092737,10.02,273,1.271910e+11,93.0,19.75491,2.752132e+12,3.550343e+12,4.594307e+12,5.101703e+12,6.087164e+12,7.551500e+12,8.532230e+12,9.570406e+12,1.047568e+13,1.106155e+13
United States,2,184851,181106,2623922,819242,14.19,389,9.083800e+10,286.0,11.57098,1.381559e+13,1.447423e+13,1.476986e+13,1.447806e+13,1.504896e+13,1.559973e+13,1.625397e+13,1.684319e+13,1.755068e+13,1.820602e+13
India,3,60257,58589,590570,213760,9.80,198,3.319500e+10,26.0,14.96908,9.402599e+11,1.216735e+12,1.198896e+12,1.341887e+12,1.675615e+12,1.823050e+12,1.827638e+12,1.856722e+12,2.039127e+12,2.103588e+12
Japan,4,52780,52281,557023,132113,10.55,203,1.898400e+10,149.0,10.23282,4.601663e+12,4.579751e+12,5.106679e+12,5.289493e+12,5.759072e+12,6.233147e+12,6.272363e+12,5.212328e+12,4.896994e+12,4.444931e+12
United Kingdom,5,47141,45928,748994,132737,15.89,244,7.920000e+09,124.0,10.60047,2.717060e+12,3.106182e+12,2.938882e+12,2.425798e+12,2.491110e+12,2.674891e+12,2.719158e+12,2.803291e+12,3.087166e+12,2.956574e+12
Germany,6,42343,41464,528645,115432,12.48,211,1.326100e+10,165.0,17.90153,2.994704e+12,3.425578e+12,3.745264e+12,3.411261e+12,3.399668e+12,3.749315e+12,3.527143e+12,3.733805e+12,3.889093e+12,3.357586e+12
Russian Federation,7,39424,39189,142937,67935,3.63,96,3.070900e+10,214.0,17.28868,9.899305e+11,1.299706e+12,1.660846e+12,1.222644e+12,1.524917e+12,2.045926e+12,2.208296e+12,2.292473e+12,2.059242e+12,1.363481e+12
Canada,8,35588,34940,665415,113363,18.70,246,1.043100e+10,296.0,61.94543,1.319265e+12,1.468820e+12,1.552990e+12,1.374625e+12,1.617343e+12,1.793327e+12,1.828366e+12,1.846597e+12,1.805750e+12,1.556509e+12
Italy,9,31260,29959,433388,105641,13.86,177,6.530000e+09,109.0,33.66723,1.949552e+12,2.213102e+12,2.408655e+12,2.199929e+12,2.136100e+12,2.294994e+12,2.086958e+12,2.141924e+12,2.162010e+12,1.836638e+12
South Korea,10,31200,30949,405923,74753,13.01,169,NaN,NaN,NaN,1.053217e+12,1.172614e+12,1.047339e+12,9.439419e+11,1.144067e+12,1.253223e+12,1.278428e+12,1.370795e+12,1.484318e+12,1.465773e+12
France,11,26848,26320,403834,73792,15.04,190,1.059700e+10,166.0,17.02028,2.320536e+12,2.660591e+12,2.930304e+12,2.700887e+12,2.645188e+12,2.865158e+12,2.683672e+12,2.811877e+12,2.855964e+12,2.439189e+12
Iran,12,25481,25204,398571,122647,15.64,159,NaN,NaN,NaN,2.662989e+11,3.498816e+11,4.123362e+11,4.163970e+11,4.868076e+11,6.261331e+11,6.440355e+11,4.927756e+11,4.603828e+11,4.082129e+11
Spain,13,24969,24505,427391,77583,17.12,187,4.923000e+09,106.0,37.96859,1.260399e+12,1.474003e+12,1.631863e+12,1.491473e+12,1.422108e+12,1.480710e+12,1.324744e+12,1.355143e+12,1.371223e+12,1.195600e+12
Brazil,14,23110,22762,219895,53635,9.52,139,1.214900e+10,59.0,69.64803,1.107627e+12,1.397114e+12,1.695855e+12,1.666996e+12,2.208838e+12,2.616157e+12,2.465228e+12,2.472819e+12,2.456044e+12,1.802212e+12
Australia,15,22803,22276,396186,62694,17.37,192,5.386000e+09,231.0,11.81081,7.475562e+11,8.539554e+11,1.055127e+12,9.280430e+11,1.147589e+12,1.397908e+12,1.546509e+12,1.576335e+12,1.467505e+12,1.350534e+12

Making one function from all the code above.

In [14]:
def answer_one():
    file_name = 'Energy Indicators.xls'
    energy = pd.read_excel(file_name, skiprows = 17, usecols = 'C:F', skipfooter = 38)
    
    energy = energy.rename(columns = {'Unnamed: 2':'Country', 'Petajoules':'Energy Supply', 'Gigajoules' :'Energy Supply per Capita', '%':'% Renewable' })

    energy.replace('...', np.nan, inplace = True)
    energy.loc[:, 'Energy Supply'] *= 1_000_000
    
    i = 0
    while i < 226:
        tmp = energy.loc[i, 'Country']
        while ord(tmp[-1]) >= ord('0') and ord(tmp[-1]) <= ord('9'):
            tmp = tmp[:-1]
            energy.loc[i, 'Country'] = tmp

        tp = tmp.split()
        string = ''
        for el in tp:
            if el[0] == '(':                
                energy.loc[i, 'Country'] = string
                break
            string += el + ' '

        i += 1
    
    energy.replace('United States of America', 'United States', inplace = True)
    energy.replace('United Kingdom of Great Britain and Northern Ireland', 'United Kingdom', inplace = True)
    energy.replace('China, Hong Kong Special Administrative Region', 'Hong Kong', inplace = True)
    
    GDP = pd.read_csv('world_bank.csv', on_bad_lines = 'skip', header = 2)

    GDP.replace('Korea, Rep.', 'South Korea', inplace = True)
    GDP.replace('Iran, Islamic Rep.', 'Iran', inplace = True)
    GDP.replace('Hong Kong SAR, China', 'Hong Konh', inplace = True)
    
    ScimEn = pd.read_excel('scimagojr country rank 1996-2021.xlsx')

    GDP = GDP.drop(columns = ['Unnamed: 66'])

    i = 1960
    while i <= 2021:
        if i == 2006:
            i = 2016
        GDP = GDP.drop(columns = [str(i)])
        i += 1
        
    ScimEn = ScimEn.head(15)
        
    GDP = GDP.rename(columns = {'Country Name':'Country'})

    df_merged = pd.merge(ScimEn, energy, how = 'left')
    df_merged_plus = pd.merge(df_merged, GDP, how = 'left')

    df_merged_plus = df_merged_plus.set_index('Country')
    
    df_merged_plus = df_merged_plus.drop(columns = ['Country Code', 'Indicator Name', 'Indicator Code', 'Region'])
    df_merged_plus.sort_values(by = 'Rank', ascending = True, inplace = True)
    
    return df_merged_plus

In [15]:
df = answer_one()
df

,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per Capita,% Renewable,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
Country,,,,,,,,,,,,,,,,,,,,
China,1,303064,301778,3036531,2092737,10.02,273,1.271910e+11,93.0,19.75491,2.752132e+12,3.550343e+12,4.594307e+12,5.101703e+12,6.087164e+12,7.551500e+12,8.532230e+12,9.570406e+12,1.047568e+13,1.106155e+13
United States,2,184851,181106,2623922,819242,14.19,389,9.083800e+10,286.0,11.57098,1.381559e+13,1.447423e+13,1.476986e+13,1.447806e+13,1.504896e+13,1.559973e+13,1.625397e+13,1.684319e+13,1.755068e+13,1.820602e+13
India,3,60257,58589,590570,213760,9.80,198,3.319500e+10,26.0,14.96908,9.402599e+11,1.216735e+12,1.198896e+12,1.341887e+12,1.675615e+12,1.823050e+12,1.827638e+12,1.856722e+12,2.039127e+12,2.103588e+12
Japan,4,52780,52281,557023,132113,10.55,203,1.898400e+10,149.0,10.23282,4.601663e+12,4.579751e+12,5.106679e+12,5.289493e+12,5.759072e+12,6.233147e+12,6.272363e+12,5.212328e+12,4.896994e+12,4.444931e+12
United Kingdom,5,47141,45928,748994,132737,15.89,244,7.920000e+09,124.0,10.60047,2.717060e+12,3.106182e+12,2.938882e+12,2.425798e+12,2.491110e+12,2.674891e+12,2.719158e+12,2.803291e+12,3.087166e+12,2.956574e+12
Germany,6,42343,41464,528645,115432,12.48,211,1.326100e+10,165.0,17.90153,2.994704e+12,3.425578e+12,3.745264e+12,3.411261e+12,3.399668e+12,3.749315e+12,3.527143e+12,3.733805e+12,3.889093e+12,3.357586e+12
Russian Federation,7,39424,39189,142937,67935,3.63,96,3.070900e+10,214.0,17.28868,9.899305e+11,1.299706e+12,1.660846e+12,1.222644e+12,1.524917e+12,2.045926e+12,2.208296e+12,2.292473e+12,2.059242e+12,1.363481e+12
Canada,8,35588,34940,665415,113363,18.70,246,1.043100e+10,296.0,61.94543,1.319265e+12,1.468820e+12,1.552990e+12,1.374625e+12,1.617343e+12,1.793327e+12,1.828366e+12,1.846597e+12,1.805750e+12,1.556509e+12
Italy,9,31260,29959,433388,105641,13.86,177,6.530000e+09,109.0,33.66723,1.949552e+12,2.213102e+12,2.408655e+12,2.199929e+12,2.136100e+12,2.294994e+12,2.086958e+12,2.141924e+12,2.162010e+12,1.836638e+12
South Korea,10,31200,30949,405923,74753,13.01,169,NaN,NaN,NaN,1.053217e+12,1.172614e+12,1.047339e+12,9.439419e+11,1.144067e+12,1.253223e+12,1.278428e+12,1.370795e+12,1.484318e+12,1.465773e+12
France,11,26848,26320,403834,73792,15.04,190,1.059700e+10,166.0,17.02028,2.320536e+12,2.660591e+12,2.930304e+12,2.700887e+12,2.645188e+12,2.865158e+12,2.683672e+12,2.811877e+12,2.855964e+12,2.439189e+12
Iran,12,25481,25204,398571,122647,15.64,159,NaN,NaN,NaN,2.662989e+11,3.498816e+11,4.123362e+11,4.163970e+11,4.868076e+11,6.261331e+11,6.440355e+11,4.927756e+11,4.603828e+11,4.082129e+11
Spain,13,24969,24505,427391,77583,17.12,187,4.923000e+09,106.0,37.96859,1.260399e+12,1.474003e+12,1.631863e+12,1.491473e+12,1.422108e+12,1.480710e+12,1.324744e+12,1.355143e+12,1.371223e+12,1.195600e+12
Brazil,14,23110,22762,219895,53635,9.52,139,1.214900e+10,59.0,69.64803,1.107627e+12,1.397114e+12,1.695855e+12,1.666996e+12,2.208838e+12,2.616157e+12,2.465228e+12,2.472819e+12,2.456044e+12,1.802212e+12
Australia,15,22803,22276,396186,62694,17.37,192,5.386000e+09,231.0,11.81081,7.475562e+11,8.539554e+11,1.055127e+12,9.280430e+11,1.147589e+12,1.397908e+12,1.546509e+12,1.576335e+12,1.467505e+12,1.350534e+12


### Question 2

What is the average GDP over the last 10 years for each country? (exclude missing values from this calculation.)

This function should return a Series named avgGDP with 15 countries and their average GDP sorted in descending order.

In [16]:
def answer_two():
    Top15 = answer_one()
    countries = ['Australia', 'Brazil', 'Canada', 'China', 'Germany', 'Spain', 'France', 'United Kingdom', 'India', 'Iran', 'Italy', 'Japan', 'South Korea', 'Russian Federation', 'United States']
    ##
    coun = pd.Series(countries)
    s = []
    ##
    avgGDP = pd.Series(dtype = 'float64')
    i = 0
    j = 2006
    sum = 0
    while i < 15:
        while j < 2016:
            sum += Top15.loc[countries[i], str(j)]
            j += 1
        sum /= 10
        s.append(sum)
        
#         ser = pd.Series({countries[i]:sum})
#         avgGDP = avgGDP.append(ser)
        
        sum = 0
        i += 1
        j = 2006
    
    ##
    sums = pd.Series(s)
    avgGDP = pd.concat([coun, sums], axis = 1)
    avgGDP = avgGDP.set_index(0)
    avgGDP.index.name = None
    avgGDP = avgGDP.squeeze()
    ##
    avgGDP = avgGDP.copy()
    avgGDP.sort_values(ascending = False, inplace = True)
    return avgGDP

answer_two()

United States         1.570403e+13
China                 6.927702e+12
Japan                 5.239642e+12
Germany               3.523342e+12
United Kingdom        2.792011e+12
France                2.691337e+12
Italy                 2.142986e+12
Brazil                1.988889e+12
Russian Federation    1.666746e+12
Canada                1.616359e+12
India                 1.602352e+12
Spain                 1.400727e+12
South Korea           1.221372e+12
Australia             1.207106e+12
Iran                  4.563261e+11
Name: 1, dtype: float64


### Question 3

By how much had the GDP changed over the 10 year span for the country with the 6th largest average GDP?

This function should return a single number.

In [17]:
def answer_three():
    Top15 = answer_one()
    a = answer_two()
    name = ''
    for i in a.index:
        if a[i] == a[5]:
            name = i
            
    fir_value = Top15.loc[i, '2015']
    sec_value = Top15.loc[i, '2006']
    result = fir_value - sec_value
    
    return result
        
answer_three()

141914006392.795


### Question 4

By how much had the GDP changed over the 10 year span for the country with the 6th largest average GDP?

This function should return a single number.

In [18]:
def answer_four():
    Top15 = answer_one()
    Top15['Ratio S-F to TC'] = Top15['Self-citations'] / Top15['Citations']
    
    max = 0
    for x in Top15['Ratio S-F to TC']:
        if x > max:
            max = x
            
    goga = Top15.index[Top15['Ratio S-F to TC'] == max].to_list()    
    result = (goga[0], max)
    
    return result
        
    
answer_four()

('China', 0.689186772669207)


### Question 5

Create a column that estimates the population using Energy Supply and Energy Supply per capita. What is the third most populous country according to this estimate?

This function should return a single string value.

In [19]:
def answer_five():
    Top15 = answer_one()
    Top15['Population'] = Top15['Energy Supply'] / Top15['Energy Supply per Capita']
    
    Top15 = Top15.sort_values(by = 'Population', ascending = False)  

    return Top15.index[2]
    
answer_five()

'United States'


### Question 6

Create a column that estimates the number of citable documents per person. What is the correlation between the number of citable documents per capita and the energy supply per capita? Use the .corr() method, (Pearson's correlation).

This function should return a single number.

In [20]:
def answer_six():
    Top15 = answer_one()    
    Top15['Population'] = np.nan
    Top15['Population'] = Top15['Energy Supply'] / Top15['Energy Supply per Capita']
    
    Top15['Citable documents per Capita'] = np.nan
    Top15['Citable documents per Capita'] = Top15['Citable documents'] / Top15['Population']
    
    return Top15['Citable documents per Capita'].corr(Top15['Energy Supply per Capita'])
    
answer_six()

0.715771677009918


### Question 7

Use the following dictionary to group the Countries by Continent, then create a dateframe that displays the sample size (the number of countries in each continent bin), and the sum, mean, and std deviation for the estimated population of each country.

In [21]:
def answer_seven():
    Top15 = answer_one()
    ContinentDict  = {'China':'Asia', 
                  'United States':'North America', 
                  'Japan':'Asia', 
                  'United Kingdom':'Europe', 
                  'Russian Federation':'Europe', 
                  'Canada':'North America', 
                  'Germany':'Europe', 
                  'India':'Asia',
                  'France':'Europe', 
                  'South Korea':'Asia', 
                  'Italy':'Europe', 
                  'Spain':'Europe', 
                  'Iran':'Asia',
                  'Australia':'Australia', 
                  'Brazil':'South America'}
    
    df = pd.DataFrame(index = ['Asia', 'Australia', 'Europe', 'North America', 'South America'], columns = ['size' , 'sum', 'mean', 'std'])
    df = df.where(df == np.nan, other = 0)
    
    tmp_list = []
    for i in df.index:
        for j in Top15.index:
            tmp1 = 0
            tmp2 = 1
            if i == ContinentDict[j]:
                df.loc[i, 'size'] += 1
                if pd.notna(Top15.loc[j, 'Energy Supply']):
                    tmp1 = Top15.loc[j, 'Energy Supply']
                    tmp2 = Top15.loc[j, 'Energy Supply per Capita']
                tmp_list.append(tmp1 / tmp2)
                df.loc[i, 'sum'] += tmp1 / tmp2
                df.loc[i, 'mean'] += tmp1 / tmp2        
        df.loc[i, 'mean'] /= df.loc[i, 'size']
        sum2 = 0
        for el in tmp_list:
            sum2 += pow(el - df.loc[i, 'mean'], 2)
        df.loc[i, 'std'] = sum2
        df.loc[i, 'std'] /= (sum2 / df.loc[i, 'size'])
        
    return df
                            
answer_seven()

              size                sum              mean  std
Asia             5  2771785326.494246  554357065.298849  5.0
Australia        1    23316017.316017   23316017.316017  1.0
Europe           6   457929667.216372   76321611.202729  6.0
North America    2    352855249.48025  176427624.740125  2.0
South America    1   205915254.237288  205915254.237288  1.0